
body{
    border-top: 1px solid #e5e5e5;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    display: flex;
}

.margin10{
    margin: 10px
}

.height55vh{
    height: 45vh
}

.height35vh{
    height: 42vh
}

.width70{
    width: 80%
}

.width30{
    width: 30%
}

.width100{
    width: 100%
}

.width80{
    width: 80%
}

.width20{
    width: 20%
}

.btn{
    padding: 10px 20px;
    border: none;
}

.btn_icon{
   background: transparent;
   padding: 10px;
   border: 1px solid #e5e5e5;
   border-radius: 2px;
   margin-top: -3px
}

.input{
    padding: 10px
}

#resultado{
    color: red
}

#painelObjetos{
    overflow-y: scroll;
    margin-left: 10px; 
    border-radius: 3px;
    border: 1px solid #e5e5e5;
}

.ponto{
    border: 1px solid #e5e5e5;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 400
}

.ponto li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ponto .sequencia{
    padding: 5px;
    width: 40px;
    text-align: center;
    background: #5edfff;
    font-weight: 600;
    border-radius: 20px;   
}

.ponto .separador{
    margin-top: 6px;
    border-bottom: 1px solid #e5e5e5
}

.ponto .linha{
    font-size: 12px;
    line-height: 30px;
}

#painelCadastro{
    border-radius: 3px;
    overflow: auto;
    border: 1px solid #e5e5e5;
}

#painelResultado{
    margin: 10px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    height: 100%;
}

.titulo{
    height:30px; 
    padding: 10px;
    background: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
    font-size: 13px;
    color: #818181
}

.titulo h3{
    margin-top: 6px;
    margin-left: 10px;
    float: left;
}

.titulo button{
    float: right
}

#listaPontos{
    padding: 5px 20px;
}

.cadastro{
    padding: 5px 20px;
}

.box_cadastro{
    font-size: 13px
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

  #material{
      padding: 10px
  }

#painelBotoes{
    margin-left: 20px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    height: 100%;
}
  .listaResultados{
  }