
body{
    border-top: 1px solid #e5e5e5;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.row{
    margin: 0 !important;
    width: 100%;
    height: 99.9vh;
    overflow: hidden;
}

.menu_lateral{
    box-shadow: 1px 1px 15px #e6e6e6;
    z-index: 1000;
    padding: 0px 15px !important;
    margin: 0;
}

.menu{
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    width: inherit;
}

.title_menu{
    font-size: 12px;
    font-style: italic;
}

.box_logo{
    height: 90px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px !Important;
}

#painelIndex{
    height: 90%;
    overflow-y: hidden;
    margin-top: 15px;
    padding: 20px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 58% 50%; 
    background-size: 40%;
    opacity: 0.2;
}

.conteudo{
    background: #f8f9fa;
    overflow-y: scroll;
    height: 100%;
}

#painelCadastro{
    margin-top: 15px;
    padding: 20px;
}

.box_range{
    padding: 10px;
    height: 50px;
    background: white;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.box_range .row{
    height: inherit;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #dddddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 50px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

  
#cadastroGeofones{
    padding: 5px 20px;
}

#painelResultados{
    display: none;
}

#painelResultados div{
    margin: 15px;
}

#painelResultados .row1{
    height: 57vh;
}

#painelResultados .row2{
    height: 30vh;
}

.painelResultados .row2 .painelBotoes{
    overflow-y: scroll;
    position: absolute;
    background: white;
    border-radius: 3px;
    padding: 0;
    border: 1px solid #e5e5e5;
    height: inherit;
}

#painelTotais{
    overflow-y: scroll;
    background: white;
    border-radius: 3px;
    height: 25vh;
    border: 1px solid #e5e5e5;
}

#painelObjetos{
    overflow-y: scroll;
    background: white;
    border-radius: 3px;
    padding: 0;
    border: 1px solid #e5e5e5;
    height: 55vh;
}

#painelChart{
    background: white;
    border-radius: 3px;
    height: 55vh;
    border: 1px solid #e5e5e5;
}

.ponto{
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
}

.ponto li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ponto .separador{
    margin-top: 6px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5
}

.ponto .linha{
    font-size: 12px;
    line-height: 30px;
}

.ponto .dot{
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background: #007bff;
    float: left;
    margin: 0 !important;
    margin-right: 8px !important;
}

.ponto .dot2{
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background: #fe346e;
    float: left;
    margin: 0 !important;
    margin-right: 8px !important;
}

.hidden{
    display: none !important;
}

.show{
    display: block !important;
}

.box_resultados{
    margin: 20px 10px;
    padding: 0;
}

.box_resultados li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.box_resultados .separador{
    margin-top: 6px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5
}

.box_resultados .linha{
    font-size: 13px;
    line-height: 30px;
}

#myChart{
    height: 100%;
}
